.pv-nav-bg-clr {
  background-color: #0647ffeb !important;
}

.pv-margin-0 {
  margin: 0 auto;
}

.carousel .carousel-item {
  max-height: 600px;
}

.carousel-item img {
  max-height: 600px;
}

@media screen and (max-width: 992px) {
  .pv-container {
    max-width: 900px;
  }
}
